<table id="clock">
				<tr>
					<td><img src="img/clock/on.png" class="clock" id="hr14" alt="" /></td>
					<td><img src="img/clock/on.png" class="clock" id="hr24" alt="" /></td>
					<td><img src="img/clock/on.png" class="clock" id="min14" alt="" /></td>
					<td><img src="img/clock/on.png" class="clock" id="min24" alt="" /></td>
					<td><img src="img/clock/on.png" class="clock" id="sec14" alt="" /></td>
					<td><img src="img/clock/on.png" class="clock" id="sec24" alt="" /></td>
				</tr>
				<tr>
					<td><img src="img/clock/on.png" class="clock" id="hr13" alt="" /></td>
					<td><img src="img/clock/on.png" class="clock" id="hr23" alt="" /></td>
					<td><img src="img/clock/on.png" class="clock" id="min13" alt="" /></td>
					<td><img src="img/clock/on.png" class="clock" id="min23" alt="" /></td>
					<td><img src="img/clock/on.png" class="clock" id="sec13" alt="" /></td>
					<td><img src="img/clock/on.png" class="clock" id="sec23" alt="" /></td>
				</tr>
				<tr>
					<td><img src="img/clock/on.png" class="clock" id="hr12" alt="" /></td>
					<td><img src="img/clock/on.png" class="clock" id="hr22" alt="" /></td>
					<td><img src="img/clock/on.png" class="clock" id="min12" alt="" /></td>
					<td><img src="img/clock/on.png" class="clock" id="min22" alt="" /></td>
					<td><img src="img/clock/on.png" class="clock" id="sec12" alt="" /></td>
					<td><img src="img/clock/on.png" class="clock" id="sec22" alt="" /></td>
				</tr>
				<tr>
					<td><img src="img/clock/on.png" class="clock" id="hr11" alt="" /></td>
					<td><img src="img/clock/on.png" class="clock" id="hr21" alt="" /></td>
					<td><img src="img/clock/on.png" class="clock" id="min11" alt="" /></td>
					<td><img src="img/clock/on.png" class="clock" id="min21" alt="" /></td>
					<td><img src="img/clock/on.png" class="clock" id="sec11" alt="" /></td>
					<td><img src="img/clock/on.png" class="clock" id="sec21" alt="" /></td>
				</tr>
				<tr>
					<td colspan="6" id="logo"><h2 class=".clock_h2">l0ner</h2></td>
				</tr>
			</table>