<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="/assets/img/favicon/qr_small_white.png" />
		<link rel="apple-touch-icon-precomposed" href="/assets/img/favicon/qr_red.png" />
		<link rel="alternate" type="application/atom+xml" href="http://l0ner.github.com/atom.xml">
		<meta name="robots" content="{{ page.meta-robots }}" />
		<meta name="description" content="{{ page.meta-description }}" />
      <meta name="description" content="{{ page.url }} - Personal site of Pawel 'l0ner' Soltys - {{ page.title }}" />
      <title>l0ner.github.io - {{ page.title }}</title>
      <!-- main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/assets/styles/style.css" />

      <!-- syntax highlight stylesheet -->
      <link rel="stylesheet" tyle="text/css" href="/assets/styles/syntax.css" />

      <!-- jQuery hosted by Google -->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

      <!-- Google webfont Exo -->
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text.css' />
      <link href='http://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text.css' />
   </head>
   <body>
      <header class="page">
         <h1><a href="/">l0ner</a></h1>
         <ul>
            <li><a href="/">blog</a></li>
            <li><a href="/pages.html">pages</a></li>
            <li><a href="/photos.html">photogallery</a></li>
            <li><a href="/projects.html">projects</a></li>
            <li><a href="/about.html">about me</a></li>
         </ul>
      </header>

