<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="/img/favicon/qr_red.png" />
		<link rel="apple-touch-icon-precomposed" href="/img/favicon/qr_red.png" />
		<link rel="alternate" type="application/atom+xml" href="http://l0ner.github.com/feed/atom.xml">
		<link rel="alternate" type="application/atom+xml" href="http://l0ner.github.com/feed/atom_blog.xml">
		<link rel="alternate" type="application/atom+xml" href="http://l0ner.github.com/feed/atom_photoblog.xml">
		<meta name="robots" content="{{ page.meta-robots }}" />
		<meta name="description" content="{{ page.meta-description }}" />
		<meta name="description" content="l0ner.github.com - Personal site of Pawel 'l0ner' Soltys - {{ page.title }}" />
      <title>{{ page.title }}</title>
      <!-- main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/styles/style.css" />

      <!-- syntax highlight stylesheet -->
      <link rel="stylesheet" tyle="text/css" href="/styles/syntax.css" />

      <!-- jQuery hosted by Google -->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

      <!-- These files are needed for SlimBox -->
      <link href="/js/jquery.slimbox2/jquery.slimbox2.css" rel="stylesheet" type="text/css"/>
      <script src="/js/jquery.slimbox2/jquery.slimbox2.js" type="text/javascript"></script>

      <!-- main js handler -->
      <script type="text/javascript"  src="/js/rndstr.js"></script>

   </head>
   <body>
      <div id="hWrapper">
         <h1 id="logo"><a href="http://l0ner.github.com/">l0ner</a>.<span id="sectName">blog</span>.<span id="randomCh"></span></h1>
      </div>

