<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="/img/favicon/qr_red.png" />
		<link rel="apple-touch-icon-precomposed" href="/img/favicon/qr_red.png" />
		<link rel="alternate" type="application/rss+xml" href="http://l0ner.github.com/feed/rss.xml">
		<link rel="alternate" type="application/atom+xml" href="http://demo.tumblr.com/feed/stom.xml">
		<meta name="description" content="l0ner.github.com - Personal site of Pawel 'l0ner' Soltys - {{ page.title }}" />
		<script src="/binaryclock2.js"></script>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/styles/global.css" />
