<div id="sidebar">
	<h1><a href="">.8bit</a></h1>
	<div id="about">
		<p id="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porttitor, leo convallis suscipit ullamcorper, justo ipsum pharetra diam, vitae luctus velit quam ut eros. Sed in quam a odio lacinia </p>
	</div>
	<div id="side_pages">
		<h3>Pages</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porttitor, leo convallis suscipit ullamcorper, justo ipsum pharetra diam,</p>
	</div>
	<div id="credit">
	Theme .8bit created by L0ner.
	</div>
</div>
