---
layout: photoblog
title: l0ner.github.com - blog
---

{% assign post_limit = 1 %}
{% for post in site.categories.photoblog limit: post_limit %}
			<div class="post">
				<div class="post_header">
					<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
					<div class="post_meta pixel">Commited on: {{ post.date | date_to_string }} in: {{ post.categories }} <a href="{{ post.url }}#disqus_thread">Comments</a></div>
				</div>
				<div class="post_content">
				{{ post.content | replace:'more start -->','' | replace:'<!-- more end','' }}
				{% if post.content contains "<!-- more start -->" %}
					<a href="{{ post.url }}" class="readmore pixel">Read more...</a>
				{% endif %}
				</div>
				<div class="separator paginator clear">
					{% if post.next %}
						<div class="floatleft"><a href="{{ post.next.url }}" class="pixel">&lt;&lt;Next Photo</a></div>
					{% endif %}
					{% if post.previous %}
						<div class="floatright"><a href="{{ post.previous.url }}" class="pixel">Previous Photo&gt;&gt;</a></div>
					{% endif %}
				</div>
			</div>
			<div class="separator"></div>
{% endfor %}