{% include header.html %}
{% include sidebar.html %}
<div id="rCol" class="floatR">
	<div class="post">
		<h3 class="meta">{{ page.date | date_to_string }} 09 Feb 2012 {{ page.title }}</h3>
			{{ content }}
	</div>
	<div class="meta">
	{% if page.next %}
		<div class="floatleft"><a href="{{ page.next.url }}" class="pixel">&lt;&lt;Next Post</a></div>
	{% endif %}
	{% if page.previous %}
		<div class="floatright"><a href="{{ page.previous.url }}" class="pixel">Previous Post&gt;&gt;</a></div>
	{% endif %}
	</div>
	{% include comments.html %}
</div>
{% include footer.html %}