/* Main Things */

#main {
   width: 90%;
	 min-width: 520px;
   margin: 0 auto;
   overflow: hidden;
   position: relative;
}	 

/* Main wrapper */

#content {
	margin-left: 270px;
	margin-top: 10px;
  height: 100%;
}

#content_wrapper {
	width: 100%;
	float: left;
	color: #fff;
}

div.post {
	width: 500px;
	height: 250px;
	float: left;
	font-family: sans;
	font-size: 10px;
	border: 0px #f00 dashed;
	margin: 10px;
	}

div.post_meta {
	font-family: Pixel;
	color: #fff;
	font-size: 8px;
	}
	
.post_title h3 {
	font-family: Pixel;
  font-size: 16px;
  padding: 0px 0 11px 20px;
  background: url('/img/nav_h3_bg.png') repeat-x;
  margin-bottom: 5px;
}
	
a {
	color: #f00;
	text-decoration: none;
	}
a:hover {
	color: #000;
	background: #f00;
	}