.postlist {
  padding-left: 15px;
  padding-bottom: 2px;
  margin-bottom: 3px;
  font-size: 8px;
  fint-family: 'Press Start 2P'
  /*background: url('/img/nav_h3_bg.png') repeat-x;*/
}

.postlist_header {
  padding-left: 15px;
  padding-bottom: 11px;
  font-size: 16px;
  background: url('/img/nav_h3_bg.png') repeat-x;
}

h6.postlist {
	margin-bottom: 3px;
}

div.post {
	margin: 0px 10px 15px 10px;
	font-family: sans;
	font-size: 14px;
	color: #fff;
}
	
.post_header h4 {
  margin-bottom: 5px;
	padding-left: 10px;
}

div.post_meta {
	color: #fff;
   font-size: 13px;
	padding: 4px 0 7px 20px;
	background: url('/img/meta_bg.png');
}

a.readmore {
	float: right;
	clear: both;
	text-align: right;
}

div.post_content {
	padding-top: 10px;
	padding-bottom: 10px;
}
	
.paginator {
	font-size: 8px;
	padding-left: 20px;
	padding-right: 20px;
	}

div.separator {
	padding-top: 7px;
	background: url('/img/meta_bg.png') repeat-x;
}
