/* Main Things */

#main {
   width: 90%;
	 min-width: 520px;
	 max-width: 1040px;
   margin: 0 auto;
   overflow: hidden;
   position: relative;
}	 

/* Main wrapper */

#content {
	margin-left: 270px;
	margin-top: 10px;
  height: 100%;
}

#content_wrapper {
	width: 100%;
	float: left;
	color: #fff;
}

div.post {
	padding-top: 10px;
	font-family: Pixel;
	font-size: 8px;
	color: #fff;
	border: 0px #f00 dashed;
	margin: 10px;
	}

div.post_meta {
	font-family: Pixel;
	color: #fff;
	font-size: 8px;
	}
	
a.readmore {
	float: right;
	text-align: right;
	font-family: Pixel;
	font-size: 8px;
	}
	
.post_title h3 {
	font-family: Pixel;
  font-size: 16px;
	padding: 0;
  margin-bottom: 5px;
	padding-left: 10px;
	letter-spacing: -2px;
}

.post_meta {
	 background: url('/img/meta_bg.png');
	padding: 7px 0 7px 20px;
}

	
a {
	color: #f00;
	text-decoration: none;
	}
a:hover {
	color: #000;
	background: #f00;
	}