h1 {
	font-family: Pixel;
	font-weight: normal;
	font-size: 28px;
}
	
h2 {
	font-family: Pixel;
	font-weight: normal;
	font-size: 24px;
}
	
h3 {
	font-family: Pixel;
	font-weight: normal;
	font-size: 20px;
}
	
h4 {
	font-family: Pixel;
	font-weight: normal;
	font-size: 16px;
}
	
h5 {
	font-family: Pixel;
	font-weight: normal;
	font-size: 12px;
}
	
h6{
	font-family: Pixel;
	font-weight: normal;
	font-size: 8px;
}
	
.pixel {
	font-family: Pixel;
	font-weight: normal;
}
	
	a {
	color: #f00;
	text-decoration: none;
}

a:hover {
	color: #000;
	background: #f00;
}
	
.center_text { text-align: center; }

.clear { clear: both; }
	
.floatleft {
	float: left;
	}
.floatright {
	float: right;
	}
.center {
	margin: auto;
	}
	
ul {
	list-style: square url('/img/li_bullet.png');
	margin-left: 5px;
}