/* 
   Here should go only webpage-wide styles like font-face defs
   or h-styles. Remember that styles here should apply to index
   and other pages. If the style does not apply, it should go to
   page-specific style.
   This means that pretty much here should go general stylizations
   and structural styles and overrides should go into page-specific
   styles.
   Remember to always include this style BEFORE any else.
*/


/* Fonts from http://www.google.com/webfonts/ */

@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(http://fonts.googleapis.com/css?family=Imprima&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Lektopn|Viga|Poiret+One|Armata|Syncopate|Guidea|Exo|Asap|Capriola|Quantico|Imprima|BAsic|NUmans|Nova+Square|Jura|Share|Electrolize|Orbitron|Uncial+Antiqua|Geo|Aldrich|Maven+Pro|Iceland|Audiowide);

.lekton {
   font-family: 'Lekton';
}

.viga {
   font-family: 'Viga';
}

.poiretOne {
   font-family: 'Poiret One';
}

.armata {
   font-family: 'Armata';
}

.syncopate {
   font-family: 'Syncopate';
}

.gudea {
   font-family: 'Gudea';
}

.exo {
   font-family: 'Exo';
}

.asap {
   font-family: 'Asap';
}

.capriola {
   font-family: 'Capriola';
}

.quantico{
   font-family: 'Quantico';
}

.imprima {
   font-family: 'Imprima';
}

.basic {
   font-family: 'Basic';
}

.numans {
   font-family: 'Numans';
}

.novaSquare {
   font-family: 'Nova Square';
}

.jura {
   font-family: 'Jura';
}

.share {
   font-family: 'Share';
}

.electrolize {
   font-family: 'Electrolize';


.orbitron {
   font-family: 'Orbitron';
}

.uncialAntiqua{
   font-family: 'Uncial Antiqua';
}

.geo {
   font-family: 'Geo';
}

.aldrich {
   font-family: 'Aldrich';
}

.mavenPro {
   font-family: 'Maven Pro';
}

.iceland {
   font-family: 'Iceland';
}

.audiowide {
   font-family: 'Audiowide';
}

.header{
   font-size: 24px;
   font-weight: bold;
}

/* simple reset */
* {
	margin-top: 0;
}

/* debug purposes show div borders */
div {
   border: 0px dashed #f00;
   }

body {
   background: #000 url('../img/bg_lines.png') fixed;
   font-family: 'Imprima', sans-serif;
   font-size: 8px;
   color: #fff;
   margin: 0;
   padding: 0;
   min-width: 520px;
}

a img { border: 0px; }

h1 {
	font-family: 'Press Start 2P', sans-serif;
	font-weight: normal;
	font-size: 28px;
}

h2 {
	font-family: 'Press Start 2P';
	font-weight: normal;
	font-size: 24px;
}

h3 {
	font-family: 'Press Start 2P';
	font-weight: normal;
	font-size: 20px;
}

h4 {
	font-family: 'Press Start 2P';
	font-weight: normal;
	font-size: 16px;
}

h5 {
	font-family: 'Press Start 2P';
	font-weight: normal;
	font-size: 12px;
}

h6{
	font-family: 'Press Start 2P';
	font-weight: normal;
	font-size: 8px;
}

.Pixel {
	font-family: 'Press Start 2P';
	font-weight: normal;
}

a {
	color: #f00;
	text-decoration: none;
}

a:hover {
	color: #000;
	background: #f00;
}

.center_text { text-align: center; }

.clear { clear: both; }

.floatleft {
	float: left;
	}
.floatright {
	float: right;
	}
.center {
	margin: auto;
	}

ul {
	list-style: square url('../img/li_bullet.png');
	margin-left: 5px;
}

div.hr2 {
   width: 100%;
   height: 4px;
   background: url('../img/headings.png');
   }

div.hr4 {
   width: 100%;
   height: 8px;
   background: url('../img/headings.png');
   }
   
div.hr6 {
   width: 100%;
   height: 10px;
   background: url('../img/headings.png');
   }
   
div.hr8 {
   width: 100%;
   height: 12px;
   background: url('../img/headings.png');
   }




/* old styles */

code {
   font-family: Monospace;
   }
   
blockquote {
   border-left: 5px solid #FF0000;
   }




	
#main {
   width: 90%;
	 min-width: 520px;
	 max-width: 1040px;
   margin: 0 auto;
   overflow: hidden;
   position: relative;
}	 

/* Main wrapper */

#content {
	margin-left: 270px;
	margin-top: 25px;
  height: 100%;
}

#content_wrapper {
	width: 100%;
	float: left;
	color: #fff;
}

a img { border: 0px; }

img {
	max-width: 750px;
}

#dsq-content ul, #dsq-content li{
	list-style: none;
	list-image: none;
	font-family: 'Press Start 2P';
	font-size: 8px;
}

#dsq-content h3 {
	font-size: 12px;
}

