
.center { text-align: center; }
.red { color: #f00; }

div.icon { 
	float: left;
	width: 150px;
	height: 150px;
	margin: 10px;
	}

/*firefox hack*/
a img { border: 0px; }

div#iconcontainer {
	margin: auto;
	margin-top: 51px;
	min-width: 340px;
	max-width: 870px;
	}
	
div.clear { clear: both; }

