#sidebar {
	margin-top: 25px;
  width: 250px;
  position: fixed;
  float: left;
  color: #fff;
  font-family: Pixel;
  overflow: auto;
}

#about {
  padding: 0;
	margin: 0 50px;
}

#side_pages{
  margin-top: 10px;
}

#sidebar h3 {
  font-size: 16px;
  padding: 0px 0 11px 20px;
  background: url('/img/nav_h3_bg.png') repeat-x;
  margin: 0;
}

#sidebar a {
	font-size: 8px;
	color: #f00;
	text-decoration: none;
}

#sidebar a:hover {
	color: #000;
	background: #f00;
}

#sidebar li {
	margin-bottom: 5px;
	list-style-position: outside; 
	list-style-image: url('/img/li_bullet.png');
	}

#credit {
  margin-top: 10px;
  color: #6a6a6a;
  font-size: 8px;
	text-align: center;
}
