div.post {
	margin: 0px 0px 15px 0px;
	font-family: sans;
	font-size: 14px;
	color: #fff;
}
	
.post_header h4 {
  margin-bottom: 5px;
	padding-left: 10px;
}

div.post_content {
	padding: 10px;
	border: 0px red dashed;
	border-left: 1px;
	border-right: 1px;
}

div.separator {
	padding-top: 7px;
	background: url('/img/meta_bg.png') repeat-x;
}